# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Excel temporários/backup
*.tmp.xlsx
*_bak.xlsx